---
layout: default
---
<div class="home">
  <div class="container">
    <div class="header-container">
        <img src="{{ '/assets/images/headshot.jpg' | relative_url }}" alt="Mike Casey" class="header-image">
    </div>

        Ciao.
        <br><br>
        I <a href="https://porticoadvisers.com">work</a> with family capital, asset owners, and corporate investors in deep tech. 
        <br><br>
        Previously, I spent 15 years or so focused on the problem of expanding access to capital in market segments and geographies that most investors overlook. This often entailed working with private equity and venture capital funds, institutional investors, and the founders of early-stage startups and mid-sized businesses.
        <br><br>
        In recent years, I've grown increasingly interested in blockchain's potential to transform the creation and exchange of value globally, and the development of open, permissionless protocols more broadly.
        <br><br>
        Fun fact: the colors on this website use the hex codes of NFTs I collected on <a href="https://basecolors.com">Base Colors</a>.
        <br><br>
        In addition to my occasional blog posts below, you may click through to some of my <a href="/publications">publications</a> and <a href="/reading">recommended reads</a>.
        <br><br>
        I hosted a <a href="https://www.porticopodcast.com">podcast</a> on private markets that featured some great interviews, but I have deprecated it (for now).
        <br><br>
        You may find me on <a href="https://farcaster.xyz">Farcaster</a> (@mc) and <a href="https://bsky.app/profile/mcasey.xyz">BlueSky</a>, or reach me <a href="mailto:hi@mcasey.xyz">via e-mail</a>.
        <br><br>
    ———

    <h2>Posts</h2>
    <ul class="post-list">
      {% for post in site.posts %}
        {% unless post.title contains 'Favorite Books' %}
            {% if post.title and post.date %}
                <li>
                    <a href="{{ post.url | relative_url }}">{{ post.title }}</a> • 
                    <span class="post-meta">{{ post.date | date: "%b '%y" }}</span>
                </li>
            {% endif %}
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
</div>